
  /* <---------- CSS KODEN BÖRJAR HÄR------------> */

body {
    border: 10px;
    border-width: 200px;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows: ;
    
}
#container1 {
display:flex;
background-color: blue;
flex-direction: column;
width: auto;
height:250px;
    
}



